# Entorno virtual
venv/
.venv/
env/

# Variables de entorno
.env
.env.*

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Índices vectoriales
faiss_index/
vectorstore/
index/

# Logs
*.log

# Streamlit
.streamlit/secrets.toml